*~
Makefile
Makefile.in
.libs
.deps
*.o
*.lo
*.la

/.version
/INSTALL
/aclocal.m4
/autom4te.cache
/config.h
/config.h.in
/config.log
/config.status
/configure
/libtool
/lua-louis-*.tar.gz
/stamp-h1

/build-aux/compile
/build-aux/config.guess
/build-aux/config.sub
/build-aux/depcomp
/build-aux/install-sh
/build-aux/ltmain.sh
/build-aux/missing

/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4

/gnulib/limits.h
/gnulib/stdint.h
/gnulib/sys/types.h
/gnulib/unistr.h
/gnulib/unistr/.dirstamp
/gnulib/unitypes.h
